/* .item {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 110px;
    height: 30px;
    margin-bottom: 5px;
    padding-left: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    user-select: none;
    background-color: white;
  }
   */

.item {
  align-items: center;
  background: #FFFFFF;
  border: 1 solid #E2E8F0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  color: #1A202C;
  display: inline-flex;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  height: 56px;
  justify-content: center;
  line-height: 24px;
  overflow-wrap: break-word;
  padding: 24px;
  text-decoration: none;
  width: 100%;
  border-radius: 8px;
  margin: 3px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}